<h2 class="mb-8 text-3xl text-center text-gray-600">
  Hello,
</h2>

<p class="pb-6">You can change your email by visiting the URL below:</p>

<p class="pb-6 text-center">
  <.link
    href={@url}
    class="inline-block pt-2 pb-2 pl-3 pr-3 text-xs font-semibold text-blue-100 no-underline uppercase bg-blue-700 border border-blue-500 rounded"
  >
    Click to join
  </.link>
</p>
