<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{assigns[:title]}</title>
    <style>
      <%= Phoenix.HTML.raw TimeclockWeb.EmailStyles.utility_classes() %>
    </style>
  </head>
  <body class="w-full h-full font-sans text-base antialiased bg-gray-100">
    <table class="w-full bg-gray-100">
      <tr>
        <td></td>
        <td class="container" width="600">
          <div class="block max-w-2xl p-6 mx-auto">
            <table
              class="mt-6 bg-white border-2 border-gray-200 border-solid rounded-lg"
              width="100%"
              cellpadding="0"
              cellspacing="0"
            >
              <tr>
                <td class="p-6 font-sans text-base">
                  {@inner_content}
                </td>
              </tr>
            </table>
            <% # FOOTER %>
            <div class="w-full p-5 text-gray-400 clear-both">
              <table width="100%">
                <tr>
                  <td class="pb-6 text-sm font-light text-center">
                    Copyright {DateTime.utc_now().year}. All rights reserved.<br />
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </body>
</html>
