<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="user-email" content={get_user_email(@current_scope)} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));

        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
    <link rel="icon" type="image/ico" href={~p"/images/favicon.ico"} sizes="32x30" />
    <link rel="apple-touch-icon" href={~p"/images/apple-touch-icon.png"} />
    <link rel="icon" href={~p"/images/logo.png"} />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="flex flex-col min-h-screen bg-slate-200">
    <.header>
      <div class="pl-10 bg-indigo-300 min-h-5">
        <div class="flex flex-row-reverse px-10"></div>
      </div>
    </.header>

    <main class="">
      {@inner_content}
    </main>
  </body>
</html>
